.gridView__table {
	border-bottom: 1px solid var(--wcfContentBorder);
	border-spacing: 0;
	width: 100%;
}

.gridView__column,
.gridView__headerColumn {
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	position: relative;
}

.gridView__headerColumn {
	white-space: nowrap;
}

.gridView__headerColumn {
	font-weight: 600;
}

.gridView__headerColumn__button::before {
	position: absolute;
	inset: 0;
	content: "";
}

.gridView__headerColumn.ASC,
.gridView__headerColumn.DESC {
	.gridView__headerColumn__button::after {
		display: inline-block;
		margin-left: 5px;
	}
}

.gridView__headerColumn.ASC {
	.gridView__headerColumn__button::after {
		// 2191 = UPWARDS ARROW
		content: "\2191";
	}
}

.gridView__headerColumn.DESC {
	.gridView__headerColumn__button::after {
		// 2193 = DOWNWARDS ARROW
		content: "\2193";
	}
}

.gridView__headerRow {
	box-shadow: inset 0 -1px 0 0 var(--wcfContentBorder);
}

.gridView__row:not(:last-child) {
	box-shadow: inset 0 -1px 0 0 var(--wcfContentBorderInner);
}

.gridView__row:hover .gridView__column {
	background-color: var(--wcfTabularBoxBackgroundActive);
}

.gridView__rowLink,
.gridView__rowLink:hover {
	color: inherit;
}

.gridView__rowLink::before {
	position: absolute;
	inset: 0;
	content: "";
}

.gridView__column {
	&.gridView__column--title {
		font-weight: 600;
	}

	&.gridView__column--text {
		max-width: 20%;
	}

	&.gridView__column--digits,
	&.gridView__column--id {
		text-align: right;
		width: 1px;
		white-space: nowrap;
		word-wrap: normal;
	}

	&.gridView__column--date {
		text-align: right;
		width: 1px;
		white-space: nowrap;
		word-wrap: normal;

		@include wcfFontSmall;
	}

	&.gridView__column-smallText {
		@include wcfFontSmall;
	}
}

.gridView__headerColumn {
	&.gridView__column--digits,
	&.gridView__column--id,
	&.gridView__column--date {
		text-align: right;
	}
}

.gridView__actionColumn {
	text-align: right;
	width: 1px;
	white-space: nowrap;
	word-wrap: normal;
}

.gridView__filterBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid var(--wcfContentBorder);
	padding-bottom: 10px;
	gap: 5px;
}

.gridView__filters {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.gridView__filterButton {
	flex: 0 0 auto;
}

.gridView__pagination {
	margin-top: 10px;
}

.gridView__actionColumn__buttons {
	align-items: center;
	display: flex;
	gap: 10px;
}
